@import "../../libraries/bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.selected {
	color: white;
	background: rgba(0,69,41,1);
}

.list, .unique-list {
	width: 50%;
	float: left;
}

#wordlist div[data-match] {
	
	i {
		display: inline-block;
		padding: .5em;
	}


	display: none;
	overflow: hidden;
	border-radius: 5px;
	background: #3D8CF4;
	color: white;
	margin: .25em;
	float: left;
  	clear: left;
}

#wordlist div[data-match].match {
	@extend .btn;
	display: block;

	background: rgba(0,69,41,1);

	//http://colorbrewer2.org/
	&.match-22, &.match-23, &.match-24 {
		background: rgba(0,104,55,1);
	}
	&.match-19, &.match-20, &.match-21 {
		background: rgba(35,132,67,1);
	}
	&.match-16, &.match-17, &.match-18 {
		background: rgba(65,171,93,1);
	}
	&.match-13, &.match-14, &.match-15 {
		background: rgba(120,198,121,1);
	}
	&.match-10, &.match-11, &.match-12 {
		color: black;
		background: rgba(173,221,142,1);
	}
	&.match-7, &.match-8, &.match-9 {
		color: black;
		background: rgba(217,240,163,1);
	}
	&.match-4, &.match-5, &.match-6 {
		color: black;
		background: rgba(247,252,185,1);
	}
	&.match-1, &.match-2, &.match-3 {
		color: black;
		background: rgba(255,255,229,1);
	}

}

#wordlist div[data-match].unmatch {
	@extend .btn;
	display: block;
	float: right;
  	clear: right;

	background: rgba(103,0,13, 1);

	&.unmatch-22, &.unmatch-23, &.unmatch-24 {
		background: rgba(165,15,21,1);
	}
	&.unmatch-19, &.unmatch-20, &.unmatch-21 {
		background: rgba(203,24,29,1);
	}
	&.unmatch-16, &.unmatch-17, &.unmatch-18 {
		background: rgba(239,59,44,1);
	}
	&.unmatch-13, &.unmatch-14, &.unmatch-15 {
		background: rgba(251,106,74,1);
	}
	&.unmatch-10, &.unmatch-11, &.unmatch-12 {
		color: black;
		background: rgba(252,146,114,1);
	}
	&.unmatch-7, &.unmatch-8, &.unmatch-9 {
		color: black;
		background: rgba(252,187,161,1);
	}
	&.unmatch-4, &.unmatch-5, &.unmatch-6 {
		color: black;
		background: rgba(254,224,210,1);
	}
	&.unmatch-1, &.unmatch-2, &.unmatch-3 {
		color: black;
		background: rgba(255,245,240,1);
	}
}

form {
	img {
		  position: absolute;
		  top: 100px;
		  left: 0;
		  width: 100%;
		  height: auto;
		  z-index: -1;
	}
}

.loading {
	img, .error {
		position: absolute;
		top: 10px;
		left: 50%;
		width: 2em;
		height: auto;
		z-index: -1;
		transform: translate(-25%,0);
	}

	.error {
		width: auto;
		z-index: 1;
	}
}